
// Configuration file for sc-rna-10x pipeline 

params {

       /* 
       	  =====================
          SET THE FOLLOWING 2 (OR 3) VARIABLES MANUALLY 
          =====================
       */

       	// Project ID (2021_XXX) or Run ID (date: e.g. YYMMDD-sc-rna-10x) 
	metaid = "xmetaidx"

	// Folder of experiment raw data
	runfolder = "xrunfolderx"

	// Custom Genome - if not Human/Mouse standard ref
	custom_genome = "xcustomgenomex"

	// demux - set to 'n' if fastq already generated (they should then be in FQDIR)
	demux = 'xdemuxx'

	// bcl2fastq arguments - e.g. "--minimum-trimmed-read-length 20 --mask-short-adapter-reads 20" 
	bcl2fastqarg = "xbcl2fastqargx" 

	// Sample Sheet (Must be in the specified runfolder!)
	ssheet = "xsamplesheetx"
	
	// Index type ('dual' or 'single')
	index = "xindextypex"

	// references
	human="/projects/fs1/shared/references/hg38/cellranger/refdata-gex-GRCh38-2020-A"
	mouse="/projects/fs1/shared/references/mm10/cellranger/refdata-gex-mm10-2020-A"

	// Directories:
 	outdir = "/projects/fs1/shared/ctg-delivery/sc-rna-10x/"
	outmeta = "${outdir}/${metaid}"
	basedir = "/projects/fs1/shared/ctg-projects/sc-rna-10x/${metaid}"
	sheet = "${basedir}/${ssheet}"
	fqdir = "xfastqdirx" // Set to existing dir if running without demux (read from samplesheet (fastqpath,<fastqpath> in header)${outdir}fastq/" otherwise $outdir/fastq
	ctgqc = "/projects/fs1/shared/ctg-qc/sc-rna-10x/"

}

// Define SLURM specs
process {
	executor='slurm'
	container = '/projects/fs1/shared/ctg-containers/sc-rna-10x/sc-rna-10x.v6/sc-rna-10x.v6.sif'
	time='5h'
	cpus='8'

	withName:gen_aggCSV {
	        time='1h'
		cpus='1'
		memory='1 GB'
	}
	withName:parsesheet {
		time='1h'
		cpus='1'
		memory='1 GB'
	}
	withName:mkfastq {
		time='24h'
		cpus='16'
		memory='110 GB'
	}
	withName:count {
		time='2d'
		cpus='20'
		memory='128 GB'
	}
	withName:aggregate {
		time='2d'
		cpus='16'
		memory='128 GB'	
		   
	}
}


singularity {
	    enabled = true
	    runOptions = '--bind /projects/fs1/'
}
